body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 50px;
    
}
ul li{
    margin-right: 10px;
    padding: 0 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    
}
.carousel-item {
    padding: 0 20px;
}
.citem{
    margin-bottom: 20px;
    font-weight: bold;
}
button{
    width: 130px;
    height: 45px;
   background-color: #000000;
    border-radius: 8px;
    color: white;
    margin-top: 5px;
    font-weight: bold;
    border: none;
}
.cimage{
    width: 450px;
    height: 400px;
    float: right;
    margin-bottom: 30px;
}
.carousel-indicators .active{
   background-color: orange;
   
}
.carousel-indicators li{
    background-color: palegoldenrod;
    
}
h2{
    font-weight: bold;
}
h3{
    color: orange;
}
.text-center{
  
    padding-bottom: 20px;
}
.card-title{
    text-align: center;
    font-weight: bold;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: lightgrey 5px 5px 10px;
    margin-top: 15px;
    
}
#smartphone{
    margin-bottom: 90px;

}
p{
    text-align: justify;
}