body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 50px;
    
}
ul li{
    margin-right: 10px;
    padding: 0 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    
}
.carousel-item {
    padding: 0 20px;
}
.citem{
    margin-bottom: 20px;
    font-weight: bold;
}
button{
    width: 130px;
    height: 45px;
   background-color: #000000;
    border-radius: 8px;
    color: white;
    margin-top: 5px;
    font-weight: bold;
    border: none;
}
.cimage{
    width: 450px;
    height: 400px;
    float: right;
    margin-bottom: 30px;
}
.carousel-indicators .active{
   background-color: orange;
   
}
.carousel-indicators li{
    background-color: palegoldenrod;
    
}
h2{
    font-weight: bold;
}
h3{
    color: orange;
}
.text-center{
  
    padding-bottom: 20px;
}
.card-title{
    text-align: center;
    font-weight: bold;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: lightgrey 5px 5px 10px;
    margin-top: 15px;
    
}
#Laptop{
    margin: 90px;

}
p{
    text-align: justify;
}
#Categories{
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
    
}
.subCategories{
    margin-top: 35px;
}
hr{
    
    width: 135.5px;
    border-radius: 8px;
    height: 9.73px;
    background-image: linear-gradient(to right, rgba(255, 156, 053, 100%),rgba(255, 178, 041, 100%), rgba(255, 203, 28,100%));
}
 #Ccardimg{ 
    width: 125px;
    height: 125.69px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;

    
}
.CCard{
    width: 250px;
    height: 300px;

    
 
}
#CCard3{
    margin-top: 30px;
}


.bgshoe{
padding: 20px;
margin-left: 220px;
   
}
.bg1{
    margin-top: 220px;
    padding:0px;
    
   

    

}
.card-text{
    font-weight: bold;
    text-align: center;
}
.paleorder{
   margin-left: 150px;
   
    padding: 80px;
}

